
<% books.forEach((book, index) => {  %>
    <% if(book.books.quantidade || book.books.quantidade === null || book.books.quantidade > 0) { %>
        <div class="post2-limit">
    <% } else { %>
        <div class="post2-limit indisponible">
    <% } %>
        <!-- REMOVER -->
        <div class="post2-remove">
            <a href="/carrinho/<%= book.books._id %>/delete" class="flex-center">
                <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.5963 4.81744C21.4758 4.81744 17.4479 6.0393 14.0219 8.32849C10.5959 10.6177 7.92562 13.8714 6.34879 17.6782C4.77197 21.485 4.3594 25.6739 5.16326 29.7152C5.96711 33.7564 7.9513 37.4686 10.8649 40.3822C13.7785 43.2958 17.4906 45.2799 21.5319 46.0838C25.5732 46.8877 29.7621 46.4751 33.5689 44.8983C37.3757 43.3214 40.6294 40.6512 42.9186 37.2252C45.2078 33.7991 46.4296 29.7712 46.4296 25.6508C46.4296 22.9149 45.8907 20.2058 44.8438 17.6782C43.7968 15.1506 42.2622 12.8539 40.3277 10.9194C38.3931 8.98483 36.0965 7.45026 33.5689 6.40329C31.0412 5.35631 28.3322 4.81744 25.5963 4.81744V4.81744ZM25.5963 42.3174C22.2999 42.3174 19.0776 41.34 16.3368 39.5086C13.596 37.6772 11.4598 35.0743 10.1983 32.0288C8.93683 28.9834 8.60677 25.6323 9.24986 22.3993C9.89295 19.1663 11.4803 16.1965 13.8112 13.8657C16.142 11.5348 19.1118 9.94744 22.3448 9.30436C25.5778 8.66127 28.9289 8.99132 31.9743 10.2528C35.0198 11.5142 37.6228 13.6505 39.4541 16.3913C41.2855 19.1321 42.263 22.3544 42.263 25.6508C42.263 30.0711 40.507 34.3103 37.3814 37.4359C34.2558 40.5615 30.0166 42.3174 25.5963 42.3174V42.3174Z" fill="#ff6347"/>
                    <path d="M31.2419 20.0049C31.0482 19.8097 30.8178 19.6547 30.5639 19.5489C30.3101 19.4431 30.0378 19.3887 29.7627 19.3887C29.4877 19.3887 29.2154 19.4431 28.9615 19.5489C28.7077 19.6547 28.4772 19.8097 28.2836 20.0049L25.5961 22.7133L22.9086 20.0049C22.5163 19.6126 21.9842 19.3922 21.4294 19.3922C20.8746 19.3922 20.3425 19.6126 19.9502 20.0049C19.5579 20.3972 19.3375 20.9293 19.3375 21.4841C19.3375 22.0389 19.5579 22.571 19.9502 22.9633L22.6586 25.6508L19.9502 28.3383C19.755 28.5319 19.6 28.7623 19.4942 29.0162C19.3884 29.2701 19.334 29.5424 19.334 29.8174C19.334 30.0924 19.3884 30.3647 19.4942 30.6186C19.6 30.8725 19.755 31.1029 19.9502 31.2966C20.1439 31.4919 20.3743 31.6468 20.6282 31.7526C20.8821 31.8584 21.1544 31.9128 21.4294 31.9128C21.7044 31.9128 21.9767 31.8584 22.2306 31.7526C22.4845 31.6468 22.7149 31.4919 22.9086 31.2966L25.5961 28.5883L28.2836 31.2966C28.4772 31.4919 28.7077 31.6468 28.9615 31.7526C29.2154 31.8584 29.4877 31.9128 29.7627 31.9128C30.0378 31.9128 30.3101 31.8584 30.5639 31.7526C30.8178 31.6468 31.0482 31.4919 31.2419 31.2966C31.4372 31.1029 31.5922 30.8725 31.6979 30.6186C31.8037 30.3647 31.8581 30.0924 31.8581 29.8174C31.8581 29.5424 31.8037 29.2701 31.6979 29.0162C31.5922 28.7623 31.4372 28.5319 31.2419 28.3383L28.5336 25.6508L31.2419 22.9633C31.4372 22.7696 31.5922 22.5392 31.6979 22.2853C31.8037 22.0314 31.8581 21.7591 31.8581 21.4841C31.8581 21.2091 31.8037 20.9368 31.6979 20.6829C31.5922 20.429 31.4372 20.1986 31.2419 20.0049V20.0049Z" fill="#ff6347"/>
                </svg>
            </a>
        </div>
        <!-- FIM DO REMOVER -->

        <!-- IMAGEM -->
        <div class="post2-image flex-center">
            <img src="<%= book.books.capa %>" alt="">
        </div>
        <!-- FIM DA IMAGEM -->

        <!-- TITULO -->
        <div class="post2-title-autor">
            <a href="/book/<%= book.books._id %>"><h3><%= book.books.titulo %></h3></a>
            <p>Por <%= book.books.autor %></p>

            <hr>

            <p>R$<%= book.books.preco.toFixed(2) %></p>

            <% if(book.books.quantidade > 0) { %> 
                <p>Quantidade: <%= book.quantidade %></p>
            <% } else if(book.books.quantidade == null) { %>
                <p>Ebook</p>
            <% } else { %>
                <p>Indisponível</p>
            <% } %>

            <hr>

            <p>Total: R$<%= (book.books.preco * book.quantidade).toFixed(2) %></p>
        </div>
        <!-- FIM DO TITULO -->

        <% if(book.books.quantidade || book.books.quantidade > 0) { %>
            <!-- ADICIONAR -->
            <div class="post2-add">
                <a href="/carrinho/<%= book.books._id %>" class="flex-center">
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.0001 4.16669C20.8796 4.16669 16.8517 5.38854 13.4257 7.67774C9.99969 9.96693 7.32943 13.2207 5.7526 17.0274C4.17577 20.8342 3.76321 25.0231 4.56706 29.0644C5.37092 33.1057 7.35511 36.8178 10.2687 39.7314C13.1823 42.645 16.8944 44.6292 20.9357 45.433C24.977 46.2369 29.1659 45.8243 32.9727 44.2475C36.7795 42.6707 40.0332 40.0004 42.3224 36.5744C44.6116 33.1484 45.8334 29.1205 45.8334 25C45.8334 22.2641 45.2946 19.5551 44.2476 17.0274C43.2006 14.4998 41.666 12.2032 39.7315 10.2686C37.7969 8.33408 35.5003 6.7995 32.9727 5.75253C30.445 4.70556 27.736 4.16669 25.0001 4.16669V4.16669ZM31.2501 27.0834H27.0834V31.25C27.0834 31.8026 26.8639 32.3325 26.4732 32.7232C26.0825 33.1139 25.5526 33.3334 25.0001 33.3334C24.4476 33.3334 23.9177 33.1139 23.527 32.7232C23.1363 32.3325 22.9168 31.8026 22.9168 31.25V27.0834H18.7501C18.1976 27.0834 17.6677 26.8639 17.277 26.4732C16.8863 26.0825 16.6668 25.5526 16.6668 25C16.6668 24.4475 16.8863 23.9176 17.277 23.5269C17.6677 23.1362 18.1976 22.9167 18.7501 22.9167H22.9168V18.75C22.9168 18.1975 23.1363 17.6676 23.527 17.2769C23.9177 16.8862 24.4476 16.6667 25.0001 16.6667C25.5526 16.6667 26.0825 16.8862 26.4732 17.2769C26.8639 17.6676 27.0834 18.1975 27.0834 18.75V22.9167H31.2501C31.8026 22.9167 32.3325 23.1362 32.7232 23.5269C33.1139 23.9176 33.3334 24.4475 33.3334 25C33.3334 25.5526 33.1139 26.0825 32.7232 26.4732C32.3325 26.8639 31.8026 27.0834 31.2501 27.0834Z" fill="#35DEAE"/>
                    </svg>
                </a>
            </div>
            <!-- FIM DO ADICIONAR -->
        <% } %>
    </div>
<% }); %>