<%- include("includes/head")%>

<main id="admScreen">
    <!-- MESSAGES -->
    <%- include("includes/message")%>
    <!-- FIM MESSAGES -->

    <!-- TEM LIVROS CADASTRADOS? -->
    <% if(books.length > 0) { %>
        <h2 style="margin-top: 50px;">Meus Livros</h2>
        <%- include("includes/table") %>
    <% } else { %>
        <div class="message-book flex-center">
            <h4>Nenhum Livro cadastrado</h4>
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	        viewBox="0 0 121.669 121.669" style="enable-background:new 0 0 121.669 121.669;" xml:space="preserve">
                <path d="M60.834,121.669C27.291,121.669,0,94.379,0,60.834C0,27.29,27.291,0,60.834,0s60.834,27.29,60.834,60.834
                C121.669,94.379,94.378,121.669,60.834,121.669z M60.834,6C30.599,6,6,30.599,6,60.834c0,30.236,24.599,54.835,54.834,54.835
                s54.834-24.599,54.834-54.835C115.669,30.599,91.07,6,60.834,6z"/>
                <path d="M78.843,97.437h-6c0-5.642-5.477-10.231-12.208-10.231s-12.208,4.59-12.208,10.231h-6c0-8.95,8.168-16.231,18.208-16.231
                S78.843,88.486,78.843,97.437z"/>
                <path d="M32.14,69.218c-7.853,0-14.242-7.115-14.242-15.86h6c0,5.437,3.697,9.86,8.242,9.86s8.242-4.423,8.242-9.86h6
                C46.382,62.103,39.993,69.218,32.14,69.218z"/>
                <path d="M89.529,69.218c-7.854,0-14.242-7.115-14.242-15.86h6c0,5.437,3.697,9.86,8.242,9.86s8.242-4.423,8.242-9.86h6
                C103.771,62.103,97.382,69.218,89.529,69.218z"/>
            </svg>
        </div>
    <% } %>
    <!-- FIM DO TEM LIVROS CADASTRADOS? -->

    <details class="cardadm">
        <summary><h2>Cadastro de livro</h2></summary>
            <article id="signBook">
            <form action="/adm/<%= user._id%>/RegisterBookComplete" method="post">
                <div class="gridColumn margin-center">
                    <!-- CAMPO PARA TITULO -->
                    <div class="textfield textfieldAdm">
                        <label>Título</label>
                        <input type="text" name="titulo" required>
                    </div>
                    <!-- FIM DOCAMPO PARA TITULO -->

                    <!-- CAMPO PARA AUTOR -->
                    <div class="textfield textfieldAdm">
                        <label>Autor</label>
                        <input type="text" name="autor" required>
                    </div>
                    <!-- FIM DO CAMPO PARA AUTOR -->

                    <!-- CAMPO PARA EDITORA -->
                    <div class="textfield textfieldAdm">
                        <label>Editora</label>
                        <input type="text" name="editora" required>
                    </div>
                    <!-- FIM DO CAMPO PARA EDITORA -->

                    <!-- CAMPO PARA PREÇO -->
                    <div class="textfield textfieldAdm">
                        <label>Preço</label>
                        <input type="number" step="0.01" name="preco" required>
                    </div>
                    <!-- FIM CAMPO PARA PREÇO -->

                    <!--  DO CAMPO PARA URL IMG -->
                    <div class="textfield textfieldAdm">
                        <label>Capa</label>
                        <input type="url" name="capa" required>
                    </div>
                    <!-- FIM DO CAMPO PARA URL IMG -->

                    <!-- FIM DO CAMPO PARA URL IMG -->
                    <div class="textfield textfieldAdm">
                        <label>Data de lançamento</label>
                        <input type="date" name="dataLancamento" required>
                    </div>
                    <!-- FIM DO CAMPO PARA URL IMG -->

                    <!-- CAMPO DE GENEROS -->
                    <div class="checkbox">
                        <h5>Gêneros</h5>

                        <ul class="generos">
                            <li>
                                <input type="checkbox" name="genero" value="acao">
                                <label>Ação</label>  
                            </li>
                            <li>
                                <input type="checkbox" name="genero" value="aventura">
                                <label>Aventura</label>
                            </li>
                            <li>
                                <input type="checkbox" name="genero" value="terror">
                                <label>Terror</label>
                            </li>
                            <li>
                                <input type="checkbox" name="genero" value="drama">
                                <label>Drama</label> 
                            </li>
                            <li>
                                <input type="checkbox" name="genero" value="romance">
                                <label>Romance</label>
                            </li>
                            <li>
                                <input type="checkbox" name="genero" value="ficcao">
                                <label>Ficção</label>  
                            </li>
                            <li>
                                <input type="checkbox" name="genero" value="distopia">
                                <label>Distopia</label> 
                            </li>
                            <li>
                                <input type="checkbox" name="genero" value="biografia">
                                <label>Biografia</label>
                            </li>
                            <li>
                                <input type="checkbox" name="genero" value="historia">
                                <label>História</label>
                            </li>
                            <li>
                                <input type="checkbox" name="genero" value="comedia">
                                <label>Comédia</label>
                            </li>
                            <li>
                                <input type="checkbox" name="genero" value="infantil">
                                <label>Infantil</label>
                            </li>
                            <li>
                                <input type="checkbox" name="genero" value="misterio">
                                <label>Misterio</label>
                            </li>
                        </ul>
                    </div>
                    <!-- FIM DOS CAMPOS DE GENERO -->

                    <!-- CAMPO PARA DESCRIÇÃO PRODUTO -->
                    <div class="textfield textfieldAdm">
                        <label>Resumo</label>
                        <textarea name="resumo" rows="10" cols="50">
                            Resumo Aqui
                        </textarea required>
                    </div>
                    <!-- FIM DO CAMPO PARA DESCRIÇÃO PRODUTO -->

                    <!-- CAMPO PARA DETALHES DO PRODUTO -->
                    <div class="textfield textfieldAdm">
                        <label>Detalhes do produto</label>
                        <textarea name="detalheProduto" rows="10" cols="50">
                            Editora ‏ : ‎ FTD Educação; 1ª edição (31 outubro 2016)
                            Idioma ‏ : ‎ Português
                            Capa comum ‏ : ‎ 96 páginas
                            ISBN-10 ‏ : ‎ 8596004211
                            ISBN-13 ‏ : ‎ 978-8596004213
                            Dimensões ‏ : ‎ 26.2 x 19.2 x 1.2 cm
                        </textarea required> 
                    </div>
                    <!-- FIM DO CAMPO PARA DETALHES DO PRODUTO -->
                </div>

                <!-- ADICIONAR -->
                <button aria-label="adicionar livro" class="outline btn">Adicionar Livro</button>
                <!-- FIM DO ADICIONAR -->
            </form>
        </article>
    </details>

    <% if(editbook) { %>
        <details class="cardadm">
        <summary><h2>Edição de livro</h2></summary>
            <article id="editBook" >
                <form action="/adm/<%= user._id %>/EditBookComplete" method="post">
                    <!-- CAMPO PARA TITULO -->
                    <div class="textfield textfieldAdm">
                        <label>Id do livro</label>
                        <input type="text" name="Idlivro" value="<%= editbook._id %>"  required>
                    </div>
                    <!-- FIM DOCAMPO PARA TITULO -->

                    <div class="gridColumn">
                        <!-- CAMPO PARA TITULO -->
                        <div class="textfield textfieldAdm">
                            <label>Título</label>
                            <input type="text" name="titulo" value="<%= editbook.titulo %>" required>
                        </div>
                        <!-- FIM DOCAMPO PARA TITULO -->

                        <!-- CAMPO PARA AUTOR -->
                        <div class="textfield textfieldAdm">
                            <label>Autor</label>
                            <input type="text" name="autor" value="<%= editbook.autor %>" required>
                        </div>
                        <!-- FIM DO CAMPO PARA AUTOR -->

                        <!-- CAMPO PARA EDITORA -->
                        <div class="textfield textfieldAdm">
                            <label>Editora</label>
                            <input type="text" name="editora" value="<%= editbook.editora %>" required>
                        </div>
                        <!-- FIM DO CAMPO PARA EDITORA -->

                        <!-- CAMPO PARA PREÇO -->
                        <div class="textfield textfieldAdm">
                            <label>Preço</label>
                            <input type="number" name="preco" step="0.01" value="<%= editbook.preco %>" required>
                        </div>
                        <!-- FIM CAMPO PARA PREÇO -->

                        <!--  DO CAMPO PARA URL IMG -->
                        <div class="textfield textfieldAdm">
                            <label>Capa</label>
                            <input type="url" name="urlImage" value="<%= editbook.capa %>" required>
                        </div>
                        <!-- FIM DO CAMPO PARA URL IMG -->

                        <!-- FIM DO CAMPO PARA URL IMG -->
                        <div class="textfield textfieldAdm">
                            <label>Data de lançamento</label>
                            <input type="date" name="dataLancamento" required>
                        </div>
                        <!-- FIM DO CAMPO PARA URL IMG -->

                        <!-- CAMPO DE GENEROS -->
                        <div class="checkbox">
                            <h5>Gêneros</h5>

                            <ul class="generos">
                                <li>
                                    <input type="checkbox" name="genero" value="acao">
                                    <label>Ação</label>  
                                </li>
                                <li>
                                    <input type="checkbox" name="genero" value="aventura">
                                    <label>Aventura</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="genero" value="terror">
                                    <label>Terror</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="genero" value="drama">
                                    <label>Drama</label> 
                                </li>
                                <li>
                                    <input type="checkbox" name="genero" value="romance">
                                    <label>Romance</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="genero" value="ficcao">
                                    <label>Ficção</label>  
                                </li>
                                <li>
                                    <input type="checkbox" name="genero" value="distopia">
                                    <label>Distopia</label> 
                                </li>
                                <li>
                                    <input type="checkbox" name="genero" value="biografia">
                                    <label>Biografia</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="genero" value="historia">
                                    <label>História</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="genero" value="comedia">
                                    <label>Comédia</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="genero" value="infantil">
                                    <label>Infantil</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="genero" value="misterio">
                                    <label>Misterio</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="genero" value="investigacao">
                                    <label>investigação</label>
                                </li>
                            </ul>
                        </div>
                        <!-- FIM DOS CAMPOS DE GENERO -->

                        <!-- CAMPO PARA DESCRIÇÃO PRODUTO -->
                        <div class="textfield textfieldAdm">
                            <label>Resumo</label>
                            <textarea name="resumo" rows="10" cols="50">
                                <%= editbook.resumo %>
                            </textarea required>
                        </div>
                        <!-- FIM DO CAMPO PARA DESCRIÇÃO PRODUTO -->

                        <!-- CAMPO PARA DETALHES DO PRODUTO -->
                        <div class="textfield textfieldAdm">
                            <label>Detalhes do produto</label>
                            <textarea name="detalheProduto" rows="10" cols="50">
                                <%= editbook.detalheProduto %>
                            </textarea required> 
                        </div>
                        <!-- FIM DO CAMPO PARA DETALHES DO PRODUTO -->
                    </div>

                    <!-- ADICIONAR -->
                    <button aria-label="adicionar livro" class="outline btn">Editar Livro</button>
                    <!-- FIM DO ADICIONAR -->
                </form>
            </article>
        </details>
    <% } %>
</main>

<%- include("includes/footer")%>