<%- include("includes/head")%>
<!-- FUNDO VERDE -->
<div class="limit-home">
    <div class="quadrado"></div>
</div>
<!-- FIM DO FUNDO VERDE -->

<!-- MESSAGES -->
<%- include("includes/message")%>
<!-- FIM MESSAGES -->

<main id="book-style">
    <!-- IMAGEM LIVRO -->
    <figure class="book-figure">
        <img src="<%= book.capa %>" width="250px" alt="Imagem da capa do livor">
    </figure>
    <!-- FIM DA IMAGEM DO LIVRO -->

    <!-- SEÇÃO DO LIVRO -->
    <section class="book-design-container book-container">
        <!-- TITULO -->
        <h1 class="book-container-title"><%= book.titulo %></h1>
        <!-- FIM DO TITULO -->
         
        <!-- AUTOR + AVALIAÇÃO -->
        <div class="book-container-betwen flex-center">
            <!-- AUTOR -->
            <p class="book-container-author">por <%= book.autor %></p>
            <!-- FIM DO AUTOR -->

            <!-- AVALIACAO -->
            <div class="book-container-avaliable flex-center">
                <svg width="15" height="15" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.2917 22.7163C18.1251 22.717 17.9608 22.6762 17.8125 22.5973L12.5 19.7091L7.1875 22.5973C7.01499 22.6915 6.82049 22.7336 6.62612 22.7187C6.43174 22.7038 6.24529 22.6326 6.08794 22.5132C5.9306 22.3937 5.80868 22.2308 5.73605 22.043C5.66342 21.8552 5.64299 21.65 5.67708 21.4507L6.71875 15.3606L2.42708 11.0336C2.29318 10.8949 2.1982 10.7209 2.15232 10.5303C2.10644 10.3397 2.1114 10.1398 2.16666 9.9519C2.22704 9.75965 2.3381 9.58882 2.48724 9.45881C2.63638 9.32879 2.81762 9.24478 3.01041 9.21633L8.94791 8.31849L11.5625 2.76921C11.6478 2.58632 11.781 2.43208 11.9468 2.32416C12.1126 2.21624 12.3043 2.159 12.5 2.159C12.6957 2.159 12.8874 2.21624 13.0532 2.32416C13.219 2.43208 13.3522 2.58632 13.4375 2.76921L16.0833 8.30767L22.0208 9.20551C22.2136 9.23397 22.3949 9.31797 22.544 9.44799C22.6931 9.57801 22.8042 9.74884 22.8646 9.94109C22.9198 10.129 22.9248 10.3289 22.8789 10.5195C22.833 10.7101 22.7381 10.8841 22.6042 11.0228L18.3125 15.3497L19.3542 21.4399C19.3914 21.6427 19.3719 21.8523 19.298 22.044C19.2242 22.2357 19.0991 22.4014 18.9375 22.5216C18.7489 22.6589 18.5218 22.7274 18.2917 22.7163Z" fill="#FACC15"/>
                </svg>    
                <p style="color: #FACC15;">5</p>
            </div>
            <!-- FIM DA AVALIACAO -->
        </div>
        <!-- FIM DO AUTOR + AVALIAÇÃO -->

        <hr class="book-container-hr">

        <!-- PRECO -->
        <h3 class="book-container-price">R$<%= book.preco %></h3>
        <!-- FIM DO PRECO -->

        <!-- COMPRAR -->
        <button aria-label="buy" class="btn book-container-buy inline">Comprar</button>
        <!-- FIM DO COMPRAR -->
        
        <!-- ADICIONAR -->
        <button aria-label="wish cart" class="btn book-container-add outline" onclick="location.href = '/carrinho/<%= book._id %>';">Adicionar à lista</button>
        <!-- FIM DO ADICIONAR -->
    </section>
    <!-- FIM DA SEÇÃO DO LIVRO -->

    <!-- DESCRIÇÃO DO LIVRO -->
    <article class="book-design-container book-description flex-center">
        <!-- TITULO -->
        <h2 class="book-description-product">Descrição do produto</h2>
        <!-- FIM DO TITULO -->

        <!-- RESUMO -->
        <div>
            <h4 class="book-description-title">Resumo</h4>

            <p class="book-description-description">
                <%= book.resumo %>
            </p>
        </div>
        <!-- FIM DO RESUMO -->

        <!-- DETALHES -->
        <div>
            <h4 class="book-description-title">Detalhes do produto</h4>

            <pre class="book-description-description">
<%= book.detalheProduto %>
            </pre>
        </div>
        <!-- FIM DOS DETALHES -->

    </article>
    <!-- FIM DA DESCRIÇÃO DO LIVRO -->
</main>

<%- include("includes/footer")%>