<%- include("includes/head")%>
<!-- FUNDO VERDE -->
<div class="limit-home">
    <div class="quadrado"></div>
</div>
<!-- FIM DO FUNDO VERDE -->

<!-- MESSAGES -->
<%- include("includes/message")%>
<!-- FIM MESSAGES -->

<main id="carrinho-main">
     <!-- TEM LIVROS CADASTRADOS? -->
     <% if(books.length > 0) { %>
        <div class="table-wrapper margin-center margin-top">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Capa</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% books.forEach((book, index) => {%>
                       <tr>
                            <td><%= book.books.titulo %></td>

                            <td>
                                <figure>
                                    <img src="<%= book.books.capa %>" alt="Foto da capa do livor" width="100px">
                                </figure>
                            </td>

                            <td>R$<%= book.books.preco.toFixed(2) %></td>

                            <% if(book.books.quantidade) { %> 
                                <td><%= book.quantidade %></td> 
                            <% } else { %>
                                <td>Ebook</td>
                            <% }  %>

                            <td id="total">R$<%= (book.books.preco * book.quantidade).toFixed(2) %></td>

                            <% if(book.books.quantidade) { %> 
                                <td>
                                    <a href="/carrinho/<%= book.books._id %>" class="edit-book">Adicionar</a>
                                </td>

                                <td>
                                    <a href="/carrinho/<%= book.books._id %>/delete" class="delete-book">Excluir</a>
                                </td>
                            <% } else { %>
                                <td colspan="2">
                                    <a href="/carrinho/<%= book.books._id %>/delete" class="delete-book">Excluir</a>
                                </td>
                            <% } %>

                        </tr>
                    <% }); %>
                <tbody>
                    <tfoot>
                        <th colspan="3">
                            Quantidade
                        </th>
                        <th colspan="4">
                            Total
                        </th>
                        <tr>
                            <% var max = 0 %>
                            <% var maxQtd = 0 %>
                            <% for(let i = 0; i < books.length; i++) { %>
                                <% max += books[i].books.preco * books[i].quantidade; %>
                                <% maxQtd += books[i].quantidade %>
                            <% } %>
                            <td colspan="3"><%= maxQtd %></td>
                            <td colspan="4">
                                R$
                                <%= max.toFixed(2) %>
                            </td>
                        </tr>
                    </tfoot>
            </table>
        </div>


        <!-- finalizar -->
        <div class="button-finalizar">
            <button aria-label="wish cart" class="btn outline" action="boleto.pdf" onclick="location.href = '/comprar/title/id';">Finalizar</button>
        </div>
        <!-- FIM DO finalizar -->

    <% } else { %>
        <div class="message-book flex-center">
            <h4>Nada no Carrinho</h4>
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	        viewBox="0 0 121.669 121.669" style="enable-background:new 0 0 121.669 121.669;" xml:space="preserve">
                <path d="M60.834,121.669C27.291,121.669,0,94.379,0,60.834C0,27.29,27.291,0,60.834,0s60.834,27.29,60.834,60.834
                C121.669,94.379,94.378,121.669,60.834,121.669z M60.834,6C30.599,6,6,30.599,6,60.834c0,30.236,24.599,54.835,54.834,54.835
                s54.834-24.599,54.834-54.835C115.669,30.599,91.07,6,60.834,6z"/>
                <path d="M78.843,97.437h-6c0-5.642-5.477-10.231-12.208-10.231s-12.208,4.59-12.208,10.231h-6c0-8.95,8.168-16.231,18.208-16.231
                S78.843,88.486,78.843,97.437z"/>
                <path d="M32.14,69.218c-7.853,0-14.242-7.115-14.242-15.86h6c0,5.437,3.697,9.86,8.242,9.86s8.242-4.423,8.242-9.86h6
                C46.382,62.103,39.993,69.218,32.14,69.218z"/>
                <path d="M89.529,69.218c-7.854,0-14.242-7.115-14.242-15.86h6c0,5.437,3.697,9.86,8.242,9.86s8.242-4.423,8.242-9.86h6
                C103.771,62.103,97.382,69.218,89.529,69.218z"/>
            </svg>
        </div>
    <% } %>
    <!-- FIM DO TEM LIVROS CADASTRADOS? -->
</main>

<%- include("includes/footer")%>