<%- include("includes/head")%>

<!-- FUNDO VERDE -->
<div class="limit-home">
    <div class="quadrado"></div>
</div>
<!-- FIM DO FUNDO VERDE -->

<!-- MESSAGES -->
<%- include("includes/message")%>
<!-- FIM MESSAGES -->

<main id="main-form">    
    <div id="formularios">
        <!--ESTE É PARA O CADASTRO-->
        <div class="card">
            <h2>Registrar</h2>
            <form action="/LoginOrSignUp/registerComplete" method="POST" id="form-register">
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                <!--CAMPO PARA USUARIO-->
                <div class="textfield textfieldLogSig">
                    <label >Nome</label>
                    <input type="text" name="nome" required>
                </div>
                <!--CAMPO PARA EMAIL-->
                <div class="textfield textfieldLogSig">
                    <label>E-mail</label>
                    <input type="email" name="email" required>
                </div>
                <!--CAMPO PARA SENHA-->
                <div class="textfield textfieldLogSig">
                    <label>Senha</label>
                    <input type="password" name="senha" required>
                </div>
                <!--CAMPO PARA REPETIR SENHA-->
                <div class="textfield textfieldLogSig">
                    <label>Repetir Senha</label>
                    <input type="password" name="repetirSenha" required>
                </div>

                <div class="accept">
                    <h4>
                        Ao clicar em Cadastre-se, você concorda com nossos Termos, Política de Privacidade e Política de Cookies. 
                        Você poderá receber notificações por SMS e cancelar isso quando quiser.
                    </h4>
                </div>

                <!--BOTAO PARA FAZER O CADASTRO-->
                <button type="submit" class="btn outline">Registrar</button>
            </form>
        </div>

        <!--ESTE É PARA O LOGIN-->
        <div class="card">
            <h2>Entrar</h2>
            <form action="/LoginOrSignUp/loginComplete" method="POST" id="form-login">
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                <!--CAMPO PARA EMAIL-->
                <div class="textfield textfieldLogSig">
                    <label>E-mail</label>
                    <input type="email" name="email" required>
                </div>
                <!--CAMPO PARA SENHA-->
                <div class="textfield textfieldLogSig">
                    <label>Senha</label>
                    <input type="password" name="senha" required>
                </div>
                <!--BOTAO PARA FAZER O LOGIN-->
                <button type="submit" class="btn outline">Entrar</button>
        </div>
    </div>
</main>

<%- include("includes/footer")%>